body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(150deg, violet,white );
    height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}
.formulario h2{
    text-align: center;
    padding: 0 0 20px;
    border-bottom: 1px solid #adadad;
}
.formulario form{
    padding: 0;
    box-sizing: border-box;
}
form .nombre{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.nombre input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.nombre label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}

form .usuario{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.usuario label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}
form .password{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.password input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.password label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}
form .password2{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.password2 input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.password2 label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}
form .correo{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.correo input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.correo label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}
form .telefono{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.telefono input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.telefono label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}
form .genero{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.genero input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.genero label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}
form .fechan{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.fechan input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.fechan label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}